<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<style>
	hr {
	    background-color: dimgrey !important;
	    border: solid 1px dimgrey !important;
	}
</style>
</head>

<body><nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">SI Kependudukan</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/">Home</a></li>
	      <li><a href="/penduduk/tambah">Tambah Penduduk</a></li>
	      <li><a href="/keluarga/tambah">Tambah Keluarga</a></li>
	      <li><a href="/penduduk/cari">Cari Data</a></li>
	    </ul>
	  </div>
	</nav>
	
	<div class="container">
		<div class="row">
		  	<h2>Sistem Informasi Kependudukan Online DKI Jakarta</h2>
		  	<p>Selamat Datang di Sistem Informasi Kependudukan Online Provinsi DKI Jakarta</p>
			<hr/>
		</div>
		
		<div class="row">
			<form action="/penduduk" method="get" class="form-horizontal">
				<div  class="row">
					<div class="col-sm-7">
						<h4>Lihat Data Penduduk Berdasarkan NIK</h4>
				  		<p><strong>Masukkan Nomor Induk Kependudukan</strong></p>
				  		
			  		</div>
			  	</div>
			  	<div  class="row">
			  		<div class="col-sm-5">
			  			<input class="form-control" type="text" name="nik" required="required"/>
			  		</div>
				</div>
				<br/>
				<div  class="row">
			  		<div class="col-sm-5">
						<button class="btn btn-primary" type="submit">Lihat</button>
					</div>
				</div>
			</form>
			<br/>
		</div>
	
		<div class="row">
			<form action="/keluarga" method="get" class="form-horizontal">
				<div  class="row">
					<div class="col-sm-7">
						<h4>Lihat Data Keluarga Berdasarkan NKK</h4>
				  		<p><strong>Masukkan Nomor Kartu Keluarga</strong></p>
				  		
			  		</div>
			  	</div>
			  	<div  class="row">
			  		<div class="col-sm-5">
			  			<input class="form-control" type="text" name="nkk" required="required"/>
			  		</div>
				</div>
				<br/>
				<div  class="row">
			  		<div class="col-sm-5">
						<button class="btn btn-primary" type="submit">Lihat</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
